.collection a{
    text-decoration: none;
    color: black;
}
.cls-cs img{
    height: 19vh;
    width: 60%;
    object-fit: cover;
    
}
.cls-cs p{
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    
}
.owl-two{
    outline: 0;
}