.primary-colorsss{
    color: $primary-colorss;
}
.primary-colorsss-bg{
    background-color: $primary-colorss;
}
.back-color{
    color: $back-color;
}
.back-color-bg{
    background-color: $back-color;
}
.secondary-color{
    color:$secondary-color;
}
.secondary-color-bg{
    background-color:$secondary-color;
}